:root {
  --background-color: black;
  --text-color: oklch(0.85 0 0);
  /* --Border-color : oklch(0.85 0 0); */
  --Border-color: rgba(196, 127, 127, 0.74);
  --Titile-color: rgba(255, 255, 255, 0.7);
  --Cover-Shadow-Color: rgba(255, 0, 0, 0.74);
  /* Scroll Prop */
  --Scroll-Color: #db1520;

  /* Fonts */
  --font-size: 17px;
  --font-family: system-ui, -apple-system, sens-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* margin-left: 1em auto; */
  /* margin-right: em auto; */
}

html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

/* Body  html*/
body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-family);
  height: 100dvh;
  width: 100vw;
  overflow: hidden;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
}

/* IDK */
.content-top {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100dvh;
  width: 100vw;
  padding: 10px 0;
  position: relative;
}

/* Main */
.wrapper-main {
  background-color: var(--background-color);
  width: 1200px;
  height: 90vh;
  padding: 20px;
  margin: auto;
  border: 2px solid var(--Border-color);
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Card */
.card-container {
  width: 100%;
  height: 100%;
  padding: 10px;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

/* Tittle */
h2 {
  margin: 15px auto 20px;
  display: block;
  width: fit-content;
  padding: 8px 40px 10px 40px;
  border: 2px solid var(--Border-color);
  border-radius: 1em;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  color: var(--Titile-color);
  background: radial-gradient(
      47.2% 50% at 50.39% 88.37%,
      rgba(255, 255, 255, 0.12) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    rgba(255, 255, 255, 0.04);
  flex-shrink: 0;
}

/* Cover */
img {
  width: 15em;
  height: 14em;
  margin: 15px auto 20px;
  display: block;
  box-shadow: 0px 8px 24px var(--Cover-Shadow-Color);
  border-radius: 1em;
  padding: 2px;
  filter: contrast(110%);
  flex-shrink: 0;
}

/* Lyric */
#Lyric,
.Lyric {
  padding: 1.4em;
  font-size: 17px;
  width: 70%;
  flex: 1;
  text-align: left;
  line-height: 1.6;
  /* white-space: pre-w; */
  overflow-x: hidden;
  overflow-y: auto;
  margin-bottom: 20px;
}

/* Part of lyric */

.titlesLyric {
  font-weight: bold;
  display: block;
  width: 100%;
  padding: 10px 0px 10px 0px;
  margin-left: auto;
  margin-right: auto;
  color: var(--Scroll-Color);
  text-align: center !important;
}

/* Scroll */
#Lyric::-webkit-scrollbar {
  width: 2px;
  color: oklch(0.85 0 0);
  box-shadow: 0px 0px 5px #db1520;
}
#Lyric::-webkit-scrollbar-thumb {
  background: var(--Scroll-Color);
  border-radius: 3px;
}
#Lyric::-webkit-scrollbar-track {
  background: transparent;
}

/* ----------- Media and responsive -------------- */

/* 0 - 600 */
/* Only Screen for before the 90's if " Only Screen " doesn't exist in our code they see mobile version on their Pc */
/* Orientation is when turn the phone horizontally : portrait */
@media only screen and (max-width: 600px) and (orientation: portrait) {
  .wrapper-main {
    width: calc(100vw - 20px);
    height: calc(100dvh - 20px);
    max-height: -webkit-fill-available;
    padding: 12px;
    margin: 10px auto;
  }

  .card-container {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  h2 {
    width: fit-content;
    font-size: 18px;
    margin: 10px auto 12px;
  }
  img {
    width: min(70vm, 280px); /*dhdhwa*/
    height: auto;
    aspect-ratio: 1 / 1;
    /* max-width: 15em; */
    margin: 12px auto 15px;
    margin-bottom: 1.4em;
  }
  #Lyric,
  .Lyric {
    width: 95%;
    font-size: 20px;
  }
}

/* Orientation is when turn the phone vertically : Landscape */
@media only screen and (max-width: 600px) and (orientation: landscape) {
  * {
    background-color: var(--Scroll-Color);
  }
}

/* 601 - 768 / Tablet*/
@media only screen and (min-width: 601px) and (max-width: 768px) {
  body {
    /* background-image: linear-gradient(direction, color-stop1, color-stop2, ...); */
    background-image:
 linear-gradient(
        to right,
        #db1520 0%,
        transparent 10%
      ),
        linear-gradient(to left, #db1520 0%, transparent 10%);
  }

  .wrapper-main {
    width: 70dvh;
    /* background-color: red; */
  }
  h2 {
    margin: 10px auto;
    /* padding: ; */
    border-radius: 1.1em;
  }
  img {
    height: 14em;
    width: 14em;
    margin: 0 auto 1.095em auto;
  }

  .Lyric , #Lyric{
    padding: 15px;
    width: 90%;
    font-size: 19px;
    /* text-align: center; */
    line-height: 1.6;
  }
}


/* 769 - 991 / Lager Tablet */
@media only screen and (min-width: 769px) and (max-width: 992px) {
  body {
    /* background-image: linear-gradient(direction, color-stop1, color-stop2, ...); */
    background-image:
        linear-gradient(to right,#db1520 0% ,transparent 7.4em),
        linear-gradient(to left, #db1520 0%, transparent 7.4em);
  }

  .wrapper-main {
    width: 80dvh;
    /* background-color: red; */
  }
  h2 {
    margin: 10px auto;
    /* padding: ; */
    border-radius: 1.1em;
  }
  img {
    height: 14em;
    width: 14em;
    margin: 0 auto 1.095em auto;
  }

  .Lyric , #Lyric{
    padding: 15px;
    width: 100%;
    font-size: 21px;
    /* text-align: center; */
    line-height: 1.6;
  }
}
/* 992 - 1000   */
@media only screen and (min-width: 992px) {
  body {
    /* background-image: linear-gradient(direction, color-stop1, color-stop2, ...); */
    background-image:
        linear-gradient(to right,#db1520 0% ,transparent 7.4em ),
        linear-gradient(to left, #db1520 0%, transparent 7.4em);
  }
  .content-top{
    padding: 0
  }
  .wrapper-main {
    padding: 10px ;
    border: 1.6px solid var(--Border-color);
    width: 70%;
    /* background-color: purple; */
  }
  h2{
    margin: 1px auto auto;
  }
  img{
    margin: 10px auto;
    width: 15em;
    height: 15em; 
  }
  .Lyric , #Lyric {
    padding: 10px;
  }
}

/*  <600px , 601px , 768px , 992px , above 1200px*/
/* Highest width display is 8k : 7680pixels */

@supports (height: 100dvh) {
  body,
  .content-top {
    height: 100dvh;
  }

  @media only screen and (max-width: 600px) {
    .wrapper-main {
      height: calc(100dvh - 16px);
    }
  }
}

/* Fallback for iOS old */
@supports not (height: 100dvh) {
  body,
  .content-top {
    height: -webkit-fill-available;
  }
}
