:root{
    --background-color: black;
    --text-color: #D6D2D2;
    --Border-color : #DEB19E;

    --font-size: 20px;
    --font-family: system-ui, -apple-system,

}

* {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family:var(--font-family);
    padding: 2px;
    /* margin-left: 1em auto; */
    /* margin-right: em auto; */
}

/* Tittle */
h2{
    border: 2px solid var(--Border-color);
    border-radius: 1em ;
    /* padding: 0.6em; */
    text-transform: uppercase;
}

/* Cover */
img{
    width: 20rem;
    border-radius: 1em;
    box-shadow:  red;
    padding: 1em;
}

#Lyric{
    padding: 1em;
    /* margin: 2e; */
    width: 55vh;
    text-align: left;


}

.wrapper-main{
    background-color: var(--background-color);
    width: 1000px;
    padding: 5px 0 auto ;
    margin: 0 auto;
    border: 2px solid var(--Border-color);
    border-radius: 1em;
    
}

.index-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* rem */

/* Media and responsive */

/* 0 - 600 */
/* Only Screen for before the 90's if " Only Screen " doesn't exist in our code they see mobile version on their Pc */
/* Orientation is when turn the phone vertically : Landscape */
@media only screen and (max-width: 600px) and (orientation: landscape) {

    .wrapper-main{
    width: 100%;
    background-color: orange;

}

}
/* Orientation is when turn the phone horizontally : portrait */
@media only screen and (max-width: 600px) and (orientation: portrait) {

    .wrapper-main{
    width: 100%;
    background-color: rgb(33, 46, 218);

}
}

/* 601 - 768 */
@media only screen and  (min-width: 601px) and (max-width: 768px) {

    .wrapper-main{
    width: 100%;
    background-color: red;

}
}

/* 992 - 1000 */
@media only screen and (min-width: 992px) {

    .wrapper-main{
    width: 100%;
    background-color: purple;

}
}

/*  <600px , 601px , 768px , 992px , above 1200px*/
/* Highest width display is 8k : 7680pixels */