* {
    background-color: black;
    color: aqua;
}

.wrapper-main{
    width: 1000px;
    padding: 100px 0;
    margin: 0 auto;
    border: 4px solid blue;
    border-radius: 1em;
}

/* rem */

/* Media and responsive */

/* 0 - 600 */
/* Only Screen for before the 90's if " Only Screen " doesn't exist in our code they see mobile version on their Pc */
/* Orientation is when turn the phone vertically : Landscape */
@media only screen and (max-width: 600px) and (orientation: landscape) {

    .wrapper-main{
    width: 100%;
    background-color: orange;

}

}
/* Orientation is when turn the phone horizontally : portrait */
@media only screen and (max-width: 600px) and (orientation: portrait) {

    .wrapper-main{
    width: 100%;
    background-color: rgb(33, 46, 218);

}
}

/* 601 - 768 */
@media only screen and  (min-width: 601px) {

    .wrapper-main{
    width: 100%;
    background-color: red;

}
}


/* 768 - 992 */
@media only screen and (min-width: 768px) {

    .wrapper-main{
    width: 100%;
    background-color: green;

}
}

/* 992 - 1000 */
@media only screen and (min-width: 992px) {

    .wrapper-main{
    width: 100%;
    background-color: purple;

}
}
/*  <600px , 601px , 768px , 992px , above 1200px*/