:root {
  --background-color: black;
  --text-color: oklch(0.85 0 0);
  /* --Border-color : oklch(0.85 0 0); */
  --Border-color: rgba(196, 127, 127, 0.74);
  --Titile-color: rgba(255, 255, 255, 0.7);
  --Cover-Shadow-Color: rgba(255, 0, 0, 0.74);
  /* Scroll Prop */
  --Scroll-Color: #db1520;

  /* Fonts */
  --font-size: 17px;
  --font-family: system-ui, -apple-system, sens-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* margin-left: 1em auto; */
  /* margin-right: em auto; */
}

html {
  height: 100%;
  width: 100%;
}

/* Body  html*/
body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-family);
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

/* IDK */
.content-top {
  display: flex;
  /* height:max-content; */
  /* min-height: 15vh; */
  flex-direction: column;
  /* padding: 30px; */
  /* height: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  padding: 0;
}

/* Main */
.wrapper-main {
  background-color: var(--background-color);
  width: 1000px;
  height: 90vh;
  padding: 20px;
  /* max-width: 100%; */
  margin: auto;
  border: 2px solid var(--Border-color);
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Card */
.card-container {
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

/* Tittle */
h2 {
  margin: 15px auto 20px;
  display: block;
  width: fit-content;
  padding: 8px 16px 10px 16px;
  border: 2px solid var(--Border-color);
  border-radius: 1em;
  /* padding: 0.6em; */
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  color: var(--Titile-color);
  background: radial-gradient(
      47.2% 50% at 50.39% 88.37%,
      rgba(255, 255, 255, 0.12) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    rgba(255, 255, 255, 0.04);
}

/* Cover */
img {
  width: 15em;
  height: 14em;
  margin: 15px auto 20px;
  display: block;
  box-shadow: 0px 8px 24px var(--Cover-Shadow-Color);
  border-radius: 1em;
  padding: 2px;
  filter: contrast(110%);
  flex-shrink: 0;
}

/* Lyric */
#Lyric,
.Lyric {
  padding: 1.5em;
  font-size: 17px;
  /* margin: 2e; */
  width: 70%;
  flex: 1; 
  text-align: left;
  line-height: 1.6;
  white-space: pre-warp;
  overflow-x: hidden;
  overflow-y: auto;
  margin-bottom: 20px;

  /* overflow-block: scroll ; */
  /* scroll-behavior: smooth; */
  /* scrollbar-width:thin; */
  /* scrollbar-shadow-color: red ; */
  /* scrollbar-color:  var(--Scroll-Color) ; */
}

#Lyric::-webkit-scrollbar {
  width: 2px;
  color: oklch(0.85 0 0);
  box-shadow: 0px 0px 5px #db1520;
}
#Lyric::-webkit-scrollbar-thumb {
  background: var(--Scroll-Color);
  border-radius: 3px;
}
#Lyric::-webkit-scrollbar-track {
  background: transparent;
}

/* Media and responsive */

/* 0 - 600 */
/* Only Screen for before the 90's if " Only Screen " doesn't exist in our code they see mobile version on their Pc */
/* Orientation is when turn the phone vertically : Landscape */
@media only screen and (max-width: 600px) and (orientation: landscape) {
  .content-top {
    padding: 8px;
    height: 100vh;
  }

  .wrapper-main {
    width: calc(100vw - 16px);
    height: calc(100vh - 16px);
    border-radius: 1em;
    border: 2px solid var(--Border-color);
    padding: 12px;
    margin: 0;
  }

  .card-container {
    height: 100%;
    padding: 8px;
    justify-content: flex-start;
  }

  h2 {
    font-size: 11px;
    padding: 6px 25px;
    margin: 10px auto 12px;
    flex-shrink: 0;
  }

  img {
    width: min(70vw, 280px);
    height: auto;
    aspect-ratio: 1 / 1;
    margin: 12px auto 15px;
    flex-shrink: 0;
  }

  #Lyric,
  .Lyric {
    width: 95%;
    flex: 1;
    font-size: 14px;
    padding: 1em 0.8em;
    line-height: 1.55;
    margin-bottom: 10px;
    overflow-y: auto;
  }

  #Lyric::-webkit-scrollbar {
    width: 2px;
  }
}
/* Orientation is when turn the phone horizontally : portrait */
@media only screen and (max-width: 600px) and (orientation: portrait) {
  .wrapper-main {
    width: 100%;
    /* background-color: rgb(33, 46, 218); */
  }
}

/* 601 - 768 */
@media only screen and (min-width: 601px) and (max-width: 768px) {
  .wrapper-main {
    width: 100%;
    /* background-color: red; */
  }
}

/* 992 - 1000 */
@media only screen and (min-width: 992px) {
  .wrapper-main {
    width: 100%;
    background-color: purple;
  }
}

/*  <600px , 601px , 768px , 992px , above 1200px*/
/* Highest width display is 8k : 7680pixels */
